<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Profile", edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>

<ul class="sidenav" id="mobile-demo">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>

      <% if user_signed_in? %>
        <li>
          <% if current_user.avatar.attached? %>
            <%= link_to image_tag(current_user.avatar, width: "40px", class: "circle responsive-img img-avatar"), edit_user_registration_path %> 
            <%= link_to current_user.username, edit_user_registration_path %>
          <% else %>
            <%= link_to (render 'layouts/avatarcss'), edit_user_registration_path %>
            <%= link_to current_user.username, edit_user_registration_path %>
          <% end %>
      <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </div>
  </li>
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <%= link_to "Rabbit", root_path, class: "brand-logo" %>
    <%= link_to "#", class: "sidenav-trigger", 'data-target' => "mobile-demo" do %>
      <i class="material-icons">menu</i>
    <% end %>
    
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <% if user_signed_in? %>
        <li>
          <%= link_to "#dropdown1", class: "dropdown-trigger link-list" do %>
            <% if current_user.avatar.attached? %>
              <%= image_tag(current_user.avatar, width: "40px", class: "circle responsive-img img-avatar") %> 
              <%= current_user.username %>
            <% else %>
              <%= render 'layouts/avatarcss' %>
              <%= current_user.username %>
            <% end %>
            <i class="material-icons right">arrow_drop_down</i>
          <% end %>
      <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
